<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Bulletin de note</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: principal('bulletin')"></nav>
		<div class="container">
			<div th:replace="fragments/messages"></div>
			<header class="page-header"><h1>Bulletin de notes</h1></header>
			
			<section class="panel-group">
				<table class="table table-striped">
					<tr>
						<th class="col-md-4"></th>
						<th class="col-md-2">Note</th>
						<th class="col-md-6">Commentaire</th>
					</tr>
					<tr th:each="seance : ${seancesNotees}">
						<th th:text="${seance.titre}"></th>
						<td th:text="${eleve.mapSeanceNote[seance.id]} ? ${eleve.mapSeanceNote[seance.id].valeur}"></td>
						<td th:text="${eleve.mapSeanceNote[seance.id]} ? ${eleve.mapSeanceNote[seance.id].commentaire}"></td>
					</tr>
					<tr>
						<th>Moyenne</th>
						<td colspan="2" th:text="${eleve.moyenne}"></td>
					</tr>
				</table>


			</section>
		</div>
	</body>
</html>