<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Bulletin de notes - Learnings</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: principal('bulletin')"></nav>
		<div class="container-fluid">
			<div th:replace="fragments/messages"></div>
			<h1 class="display-1">Bulletin de notes</h1>

			<section class="panel-group">
				<table class="table table-striped">
					<caption>Liste des notes et moyenne</caption>
					<thead>
						<tr>
							<th scope="col" class="w-25">Séance</th>
							<th scope="col" class="w-25">Note</th>
							<th scope="col" class="w-50">Commentaire</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="seance : ${seancesNotees}">
							<th scope="row" th:text="${seance.titre}"></th>
							<td th:text="${eleve.mapSeanceNote[seance.id]} ? ${eleve.mapSeanceNote[seance.id].valeur}"></td>
							<td th:text="${eleve.mapSeanceNote[seance.id]} ? ${eleve.mapSeanceNote[seance.id].commentaire}"></td>
						</tr>
						<tr>
							<th scope="row">Moyenne</th>
							<td colspan="2" th:text="${eleve.moyenne}"></td>
						</tr>
					</tbody>
				</table>


			</section>
		</div>
	</body>
</html>