<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Rendre son TP</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: principal('remisetp')"></nav>
		<div class="container-fluid">
			<div th:replace="fragments/messages"></div>
			<h1 class="display-1">Rendre son TP</h1>
			<article class="card bg-light" th:each="tpAvecTravaux : ${listeTp}">
				<header class="card-header">
					<h2>
						[[${tpAvecTravaux.tp.titre}]]
						<small class="text-muted">Avant [[${#dates.format(tpAvecTravaux.tp.dateLimiteRendu, 'HH:mm')}]] le [[${#dates.format(tpAvecTravaux.tp.dateLimiteRendu, 'dd/MM/yyyy')}]]</small>
					</h2>
				</header>
				<section class="card-body">
					<div th:if="${tpAvecTravaux.binome == null}">
						<p>Il faut choisir un binôme !</p>
						<form method="post" action="remisetpbinome">
							<div class="form-group">
								<label for="eleve2">Choisir son binôme :</label>
								<div class="row">
									<div class="col-4">
										<select title="binome" class="form-control small-input" id="eleve2" name="eleve2">
											<option value="0">Pas de binôme</option>
											<option th:each="binome : ${listeBinomes}" th:value="${binome.id}">[[${binome.prenom}]] [[${binome.nom}]]</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="hidden" name="idtp" th:value="${tpAvecTravaux.tp.id}" />
								<button type="submit" class="btn btn-dark">Envoyer</button>
							</div>
						</form>
					</div>
					<div th:if="${tpAvecTravaux.binome != null}">
						<h3>Binôme :</h3>
						<p th:if="${tpAvecTravaux.binome.eleve2 != null}">
							Pour ce TP, vous êtes en binôme avec
							<strong th:if="${tpAvecTravaux.binome.eleve1.id == session.utilisateur.id}">[[${tpAvecTravaux.binome.eleve2.prenom}]] [[${tpAvecTravaux.binome.eleve2.nom}]]</strong>
							<strong th:if="${tpAvecTravaux.binome.eleve2.id == session.utilisateur.id}">[[${tpAvecTravaux.binome.eleve1.prenom}]] [[${tpAvecTravaux.binome.eleve1.nom}]]</strong>
						</p>
						<p th:if="${tpAvecTravaux.binome.eleve2 == null}">Pour ce TP, vous êtes sans binôme.</p>
						<h3>Déjà rendu :</h3>
						<p th:if="${tpAvecTravaux.travaux.size() == 0}">Vous n'avez encore rien rendu pour ce TP.</p>
						<ul th:if="${tpAvecTravaux.travaux.size() > 0}">
							<li th:each="travail : ${tpAvecTravaux.travaux}">
								[[${travail.nomFichier}]]
								<small><em th:text="${#temporals.format(travail.dateRendu, 'dd/MM/yyyy HH:mm')}"></em></small>
							</li>
						</ul>
						<h3>Envoyer un fichier :</h3>
						<form role="form" method="post" enctype="multipart/form-data">
							<div class="input-group mb-3">
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="fichiertp" name="fichiertp" aria-describedby="fichiertpMaxSize">
									<label class="custom-file-label" for="fichiertp">Fichier zip de votre TP</label>
								</div>
							</div>
							<p id="fichiertpMaxSize" class="font-weight-light text-secondary">Attention à ne pas dépasser les 10 Mo.</p>
							<div class="form-group">
								<label for="commentaire">Commentaire éventuel :</label>
								<textarea id="commentaire" name="commentaire" rows="5" class="form-control"></textarea>
							</div>
							<div class="form-group">
								<input type="hidden" name="idtp" th:value="${tpAvecTravaux.tp.id}" />
								<button type="submit" class="btn btn-secondary">Envoyer</button>
							</div>
						</form>
					</div>
				</section>
			</article>
		</div>
	</body>
</html>