<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Rendre son TP</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: principal('remisetp')"></nav>
		<div class="container">
			<div th:replace="fragments/messages"></div>
			<header class="page-header"><h1>Rendre son TP</h1></header>
			<article class="panel panel-default" th:each="tpAvecTravaux : ${listeTp}">
				<header class="panel-heading">
					<h3>[[${tpAvecTravaux.tp.titre}]] <small>Avant [[${#dates.format(tpAvecTravaux.tp.dateLimiteRendu, 'HH:mm')}]] le [[${#dates.format(tpAvecTravaux.tp.dateLimiteRendu, 'dd/MM/yyyy')}]]</small></h3>
				</header>
				<section class="panel-body">
					<div th:if="${tpAvecTravaux.binome == null}">
						<p>Il faut choisir un binome !</p>
						<form method="post" action="remisetpbinome">
							<div class="form-group">
								<label for="nomEleve1">Binômes :</label>
								<div class="row">
									<div class="col-xs-4">
										<select class="form-control small-input" id="nomEleve1" name="eleve1" readonly>
											<option th:text="${session.utilisateur.prenom + ' ' + session.utilisateur.nom}"></option>
										</select>
									</div>
									<div class="col-xs-4">
										<select title="binome" class="form-control small-input" id="eleve2" name="eleve2">
											<option value="" disabled selected>Choisir son binôme</option>
											<option value="0">Pas de binôme</option>
											<option th:each="binome : ${listeBinomes}" th:value="${binome.id}">[[${binome.prenom}]] [[${binome.nom}]]</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="hidden" name="idtp" th:value="${tpAvecTravaux.tp.id}" />
								<button type="submit" class="btn btn-default">Envoyer</button>
							</div>
						</form>
					</div>
					<div th:if="${tpAvecTravaux.binome != null}">
						<h4>Binôme :</h4>
						<p th:if="${tpAvecTravaux.binome.eleve2 != null}">
							Pour ce TP, vous êtes en binôme avec
							<strong th:if="${tpAvecTravaux.binome.eleve1.id == session.utilisateur.id}">[[${tpAvecTravaux.binome.eleve2.prenom}]] [[${tpAvecTravaux.binome.eleve2.nom}]]</strong>
							<strong th:if="${tpAvecTravaux.binome.eleve2.id == session.utilisateur.id}">[[${tpAvecTravaux.binome.eleve1.prenom}]] [[${tpAvecTravaux.binome.eleve1.nom}]]</strong>
						</p>
						<p th:if="${tpAvecTravaux.binome.eleve2 == null}">Pour ce TP, vous êtes sans binôme.</p>
						<h4>Déjà rendu :</h4>
						<p th:if="${tpAvecTravaux.travaux.size() == 0}">Vous n'avez encore rien rendu pour ce TP.</p>
						<ul th:if="${tpAvecTravaux.travaux.size() > 0}">
							<li th:each="travail : ${tpAvecTravaux.travaux}">
								[[${travail.nomFichier}]]
								<small><em th:text="${#temporals.format(travail.dateRendu, 'dd/MM/yyyy HH:mm')}"></em></small>
							</li>
						</ul>
						<h4>Envoyer un fichier :</h4>
						<form role="form" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label for="fichiertp">Fichier zip de votre TP :</label>
								<input type="file" id="fichiertp" name="fichiertp">
								<p class="help-block">Attention à ne pas dépasser les 10 Mo.</p>
							</div>
							<div class="form-group">
								<label for="commentaire">Commentaire éventuel :</label>
								<textarea id="commentaire" name="commentaire" rows="5" class="form-control"></textarea>
							</div>
							<div class="form-group">
								<input type="hidden" name="idtp" th:value="${tpAvecTravaux.tp.id}" />
								<button type="submit" class="btn btn-default">Envoyer</button>
							</div>
						</form>
					</div>
				</section>
			</article>
		</div>
	</body>
</html>