<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Séances (Cours et TPs) - Learnings</title>
		<th:block th:replace="fragments/htmlheader" />
		<link th:href="@{/css/seances.css}" rel="stylesheet">
		<script th:src="@{/js/seances.js}"></script>

		<link rel="stylesheet" th:href="@{/highlight/magula.css}">
		<script th:src="@{/highlight/highlight.pack.js}"></script>
		<script>hljs.initHighlightingOnLoad();</script>

	</head>
	<body>
		<nav th:replace="fragments/menu :: principal('seances')"></nav>
		<div class="container">
			<div th:replace="fragments/messages"></div>
			<h1 class="display-1" th:text="${ressource.titre}"></h1>
			<section th:utext="${ressource.html}"></section>
		</div>
	</body>
</html>