textarea.editeur-riche {
    height:200px;
}

[class^='hidden-'], [class*=" hidden-"]{
    display: none;
}

div.form-inline .form-group{
    margin-left: 10px;
    margin-right: 0;
}

div.form-inline{
    margin-bottom: 10px;
}

#document-content {
    -webkit-print-color-adjust: exact;
}