<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Import des utilisateurs - Learnings</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: admin('utilisateur')"></nav>
		<div class="container-fluid">
			<div th:replace="fragments/messages"></div>
			<h1 class="display-1">Import des utilisateurs</h1>
			<p><a href="utilisateur" class="btn btn-outline-primary">Retour à la liste</a></p>
			<form class="form-horizontal" method="post" enctype="multipart/form-data">
				<div class="jumbotron">
					<p>Il est possible d'importer les utilisateurs à partir d'un fichier CSV avec les champs suivants séparés par des points-virgule <code>;</code> :</p>
					<ul>
						<li>Nom : non vide</li>
						<li>Prénom : non vide</li>
						<li>Adresse email : non vide</li>
						<li>Groupe : vide ou une valeur parmis GROUPE_1, GROUPE_2, 1, 2</li>
						<li>Admin : true (ou 1 ou oui) ou false (ou 0 ou non)</li>
					</ul>
					<p>La ligne d'entête <code>NOM;PRENOM;EMAIL;GROUPE;ADMIN</code> est facultative.</p>
				</div>
				<div class="form-group w-50">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="fichier-label">Fichier</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile01" name="fichier" aria-describedby="fichier-label">
							<label class="custom-file-label" for="inputGroupFile01">Sélectionner le fichier</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Importer</button>
				</div>
			</form>
		</div>
	</body>
</html>