<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des séances - Learnings</title>
    <th:block th:replace="fragments/htmlheader"/>
</head>
<body>
<nav th:replace="fragments/menu :: admin('seance')"></nav>

<div class="container-fluid">
    <div th:replace="fragments/messages"></div>
    <h1 class="display-1">Gestion des séances</h1>
    <p><a href="seance" class="btn btn-outline-success"><span class="fas fa-plus"></span> Ajouter une séance</a></p>
    <table id="listeSeances" class="table table-striped">
        <caption>Liste des séances</caption>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Date</th>
            <th scope="col">Noté</th>
            <th scope="col">Date limite de rendu</th>
            <th scope="col">Actions</th>
        </tr>
        <tr th:each="seance : ${seances}" th:id="'seance'+${seance.id}">
            <td th:text="${seance.id}"></td>
            <td th:text="${seance.titre}"></td>
            <td th:text="${#dates.format(seance.date, 'dd/MM/yyyy')}"></td>
            <td>
                <span th:if="${seance.isNote}" class="label label-danger">Oui</span>
                <span th:unless="${seance.isNote}" class="label label-success">Non</span>
            </td>
            <td th:text="${#dates.format(seance.dateLimiteRendu, 'dd/MM/yyyy HH:mm')}"></td>
            <td>
                <a class="btn btn-sm btn-info" th:href="'seance?id='+${seance.id}" data-toggle="tooltip"
                   title="Modifier">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                    <span class="sr-only">Modifier la séance "[[${seance.titre}]]"</span>
                </a>
                <a class="btn btn-sm btn-dark" th:href="'ressource?idSeance='+${seance.id}" data-toggle="tooltip"
                   title="Gérer les ressources">
                    <i class="fas fa-list-alt" aria-hidden="true"></i>
                    <span class="sr-only">Gérer les ressources de la séance "[[${seance.titre}]]"</span>
                </a>
                <a class="btn btn-sm btn-success" th:href="'appel?idSeance='+${seance.id}" data-toggle="tooltip"
                   title="Faire l'appel">
                    <i class="fas fa-users" aria-hidden="true"></i>
                    <span class="sr-only">Faire l'appel pour la séance "[[${seance.titre}]]"</span>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>