<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Gestion des Projets</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: admin('projet')"></nav>
	
		<div class="container">
			<div th:replace="fragments/messages"></div>
			<header class="page-header">
				<h1>Projet <a href="projet" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</a></h1>
			</header>
			<table id="listeProjets" class="table table-striped">
				<tr>
					<th>#</th>
					<th>Titre</th>
					<th>Date limite de rendu du lot n°1</th>
					<th>Date limite de rendu du lot n°2</th>
					<th>Actions</th>
				</tr>
				<tr th:each="projet : ${projets}" th:id="'projet'+${projet.id}">
					<td th:text="${projet.id}"></td>
					<td th:text="${projet.titre}"></td>
					<td th:text="${#dates.format(projet.dateLimiteRenduLot1, 'dd/MM/yyyy HH:mm')}"></td>
					<td th:text="${#dates.format(projet.dateLimiteRenduLot2, 'dd/MM/yyyy HH:mm')}"></td>
					<td>
						<a class="btn btn-xs btn-info" th:href="'projet?id='+${projet.id}" title="Modifier"><span class="glyphicon glyphicon-edit"></span></a>
						<a class="btn btn-xs btn-warning" th:href="'ressource?idProjet='+${projet.id}" title="Gérer les ressources"><span class="glyphicon glyphicon-list-alt"></span></a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>