<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tableau des notes</title>
    <th:block th:replace="fragments/htmlheader"/>
    <script th:src="@{/js/notes.js}"></script>
    <script th:src="@{/js/filtre.js}"></script>
</head>
<body>
    <nav th:replace="fragments/menu :: admin('note')"></nav>

    <div th:replace="fragments/popupnote :: note"></div>

    <div class="container">
        <div th:replace="fragments/messages"></div>
        <header class="page-header">
            <h1>
                Notes des élèves
            </h1>
            <form th:action="@{/admin/note}" method="post">
                <button name="export-csv" type="submit" class="btn btn-success pull-right" id="export-csv"
                        value="Export CSV"><i class="fa fa-file-excel-o"></i> Exporter
                </button>
            </form>
        </header>

        <div class="form-inline">
            <div class="form-group">
                <label for="filter-eleve">Eleve : </label>
                <input id="filter-eleve" type="text" class="query-filter form-control" data-query-filter="eleve" />
            </div>
        </div>
        <table id="listeNotes" class="table table-striped">
            <tr>
                <th>Eleve</th>
                <th th:each="seance : ${seancesNotees}">
                    <div th:text="${seance.titre}"></div>
                    <div>
                        <small>([[${seance.date}]])</small>
                    </div>
                </th>
                <th>Projet</th>
                <th>Moyenne</th>
            </tr>
            <tr th:each="eleve : ${eleves}" th:id="'eleve'+${eleve.id}">
                <td data-filter="eleve" class="filter" th:text="${eleve.prenom + ' ' + eleve.nom}"></td>
                <td th:each="seance : ${seancesNotees}">
                    [[${eleve.mapSeanceNote[seance.id]} ? ${eleve.mapSeanceNote[seance.id].valeur}]]
                    <button th:id="'noterTravail'+${eleve.id}" type="button" class="btn btn-default btn-note btn-xs"
                            data-toggle="modal"
                            data-target="#popupNote"
                            th:data-seance="${seance.id}"
                            th:data-eleve="${eleve.id}"
                            th:data-elevePrenomNom="${eleve.prenom+' '+eleve.nom}"
                            title="Gérer l'évaluation">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </button>
                </td>
                <td>
                    [[${eleve.noteProjet} ? ${eleve.noteProjet.valeur}]]
                    <button th:id="'noterTravail'+${eleve.id}" type="button" class="btn btn-default btn-note btn-xs"
                            data-toggle="modal"
                            data-target="#popupNote"
                            th:data-projet="${projet.id}"
                            th:data-eleve="${eleve.id}"
                            th:data-elevePrenomNom="${eleve.prenom+' '+eleve.nom}"
                            title="Gérer l'évaluation">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </button>
                </td>
                <td th:text="${eleve.moyenne}"></td>
            </tr>
            <tr>
                <td></td>
                <td th:each="seance : ${seancesNotees}" th:text="${seance.moyenne}"></td>
                <td th:text="${moyenneProjet}"></td>
                <td th:text="${moyenneClasse}"></td>
            </tr>
        </table>
    </div>
</body>
</html>