<tr th:id="'utilisateur'+${utilisateur.id}" style="display:none" xmlns:th="http://www.thymeleaf.org">
	<td th:text="${utilisateur.id}"></td>
	<td th:text="${utilisateur.nom}"></td>
	<td th:text="${utilisateur.prenom}"></td>
	<td th:text="${utilisateur.email}"></td>
	<td th:text="${utilisateur.groupe} ? ${utilisateur.groupe.libelle}"></td>
	<td class="isAdminCell" th:text="${utilisateur.admin ? 'Oui' : 'Non'}"></td>
	<td>
		<button type="button" class="btn btn-info btn-sm reinitMdpUtilisateurAction" data-toggle="tooltip" title="Réinitialiser le mot de passe">
			<i class="fas fa-unlock"></i>
			<span class="sr-only">Réinitialiser le mot de passe de [[${utilisateur.prenom + ' ' + utilisateur.nom}]]"</span>
		</button>
		<button type="button" class="btn btn-danger btn-sm supprimerUtilisateurAction" data-toggle="tooltip" title="Supprimer l'utilisateur">
			<i class="fas fa-trash"></i>
			<span class="sr-only">Supprimer l'utilisateur [[${utilisateur.prenom + ' ' + utilisateur.nom}]]"</span>
		</button>
		<button th:style="${utilisateur.admin ? 'display:none;' : ''}" type="button" class="btn btn-success btn-sm donnerAdminUtilisateurAction" data-toggle="tooltip" title="Donner l'admin">
			<i class="fas fa-chevron-up"></i>
			<span class="sr-only">Donner l'admin à [[${utilisateur.prenom + ' ' + utilisateur.nom}]]"</span>
		</button>
		<button th:style="${!utilisateur.admin ? 'display:none;' : ''}" type="button" class="btn btn-warning btn-sm enleverAdminUtilisateurAction" data-toggle="tooltip" title="Enlever l'admin">
			<i class="fas fa-chevron-down"></i>
			<span class="sr-only">Enlever l'admin à [[${utilisateur.prenom + ' ' + utilisateur.nom}]]"</span>
		</button>
	</td>
</tr>