<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Gestion des projets</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: admin('projet')"></nav>
	
		<div class="container">
			<div th:replace="fragments/messages"></div>
			<header class="page-header">
				<h1>
					<th:block th:if="${mode == 'creation'}">Ajouter un projet</th:block>
					<th:block th:if="${mode == 'modification'}">Modifier le projet n°[[${projet.id}]]</th:block>
					<small><a href="listeprojets" class="label label-default">Retour à la liste</a></small>
				</h1>
			</header>
			<form class="form-horizontal" method="post" action="projet">
				<div class="form-group">
			    	<label for="titre" class="col-sm-2 control-label">Titre</label>
			    	<div class="col-sm-6">
			      		<input type="text" class="form-control" id="titre" name="titre" th:value="${projet} ? ${projet.titre}">
		    		</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="description" class="col-sm-2 control-label">Description</label>
			    	<div class="col-sm-6">
			      		<textarea rows="3" class="form-control editeur-riche" id="description" name="description">[[${projet} ? ${projet.description}]]</textarea>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="dateLimiteRenduLot1" class="col-sm-2 control-label">Date limite de rendu du lot 1</label>
			    	<div class="col-sm-2">
			      		<input type="text" class="form-control" id="dateLimiteRenduLot1" name="dateLimiteRenduLot1" th:value="${projet} ? ${#dates.format(projet.dateLimiteRenduLot1, 'dd/MM/yyyy HH:mm')}" />
			      		(dd/MM/yyyy HH:mm) 
		    		</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="dateLimiteRenduLot2" class="col-sm-2 control-label">Date limite de rendu du lot 2</label>
			    	<div class="col-sm-2">
			      		<input type="text" class="form-control" id="dateLimiteRenduLot2" name="dateLimiteRenduLot2" th:value="${projet} ? ${#dates.format(projet.dateLimiteRenduLot2, 'dd/MM/yyyy HH:mm')}" />
			      		(dd/MM/yyyy HH:mm) 
		    		</div>
			  	</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input th:if="${mode == 'modification'}" type="hidden" name="id" th:value="${projet.id}" />
						<button type="submit" class="btn btn-primary"  th:text="${mode == 'creation'} ? 'Ajouter' : 'Modifier'"></button>
				    </div>
			  </div>
			</form>
		</div>
	</body>
</html>