<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Gestion des séances</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: admin(${type})"></nav>
	
		<div class="container">
			<div th:replace="fragments/messages"></div>
			<header class="page-header"> 
				<h1 th:if="${type=='seance'}">
					Ressources de la séance n°[[${enseignement.id}]]
					<small><a href="listeseances" class="label label-default">Retour à la liste</a></small>
				</h1>
				<h1 th:if="${type=='projet'}">
					Ressources du projet n°[[${enseignement.id}]]
					<small><a href="listeprojets" class="label label-default">Retour à la liste</a></small>
				</h1>
			</header>
			<form class="form" method="post" enctype="multipart/form-data">
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Titre</th>
						<th>Chemin</th>
						<th></th>
					</tr>
					<tr th:each="ressource : ${enseignement.ressources}">
						<td th:text="${ressource.id}">"</td>
						<td th:text="${ressource.titre}"></td>
						<td><a th:href="'../admin/telechargerRessource?id='+${ressource.id}" th:text="${ressource.chemin}"></a></td>
						<td>
							<a th:href="'supprimerressource?'+${type=='seance' ? 'idSeance' : 'idProjet'}+'='+${enseignement.id}+'&idRessource='+${ressource.id}" class="btn btn-danger btn-xs" title="Supprimer la ressource"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
					<tr>
						<td>*</td>
						<td><input class="form-control" type="text" name="titre" /></td>
						<td><input type="file" name="fichier" /></td>
						<td>
							<input type="hidden" th:name="${type=='seance'} ? 'seance' : 'projet'" th:value="${enseignement.id}" />
							<input class="btn btn-primary" type="submit" value="Ajouter" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>