<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Gestion des ressources - Learnings</title>
		<th:block th:replace="fragments/htmlheader" />
	</head>
	<body>
		<nav th:replace="fragments/menu :: admin('seance')"></nav>
	
		<div class="container-fluid">
			<div th:replace="fragments/messages"></div>
			<h1 class="display-1">Ressources de la séance n°[[${seance.id}]]</h1>
			<p><a href="listeseances" class="btn btn-outline-primary">Retour à la liste</a></p>
			<table class="table table-striped">
				<caption>Liste des ressources de la séance n°[[${seance.id}]]</caption>
				<tr>
					<th>#</th>
					<th>Titre</th>
					<th>Catégorie</th>
					<th>Chemin</th>
					<th></th>
				</tr>
				<tr th:each="ressource : ${seance.ressources}">
					<td th:text="${ressource.id}">"</td>
					<td th:text="${ressource.titre}"></td>
					<td th:text="${ressource.categorie}"></td>
					<td>
						<th:block th:if="${!ressource.isLien()}">
							<i class="fas fa-file-download" aria-hidden="true" th:if="${ressource.isTelechargement()}"></i>
							<i class="fab fa-markdown" aria-hidden="true" th:if="${ressource.isMarkdown()}"></i>
							<a th:href="'../admin/telechargerRessource?id='+${ressource.id}" th:text="${ressource.chemin}"></a>
						</th:block>
						<th:block th:if="${ressource.isLien()}">
							<i class="fas fa-link" aria-hidden="true"></i>
							<a th:href="${ressource.chemin}" th:text="${ressource.chemin}"></a>
						</th:block>
					</td>
					<td>
						<a th:href="'supprimerressource?idSeance='+${seance.id}+'&idRessource='+${ressource.id}" class="btn btn-danger btn-xs" th:aria-label="'Supprimer la ressource ('+ ${ressource.titre} + ')'" role="button">
							<i class="fas fa-trash" aria-hidden="true"></i>
							Supprimer
						</a>
					</td>
				</tr>
			</table>
			<h2>Ajouter une ressource</h2>
			<form class="form" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="titre">Titre</label>
					<input class="form-control" type="text" id="titre" name="titre" placeholder="Titre"/>
				</div>
				<div class="form-group">
					<label for="categorie">Catégorie</label>
					<select class="form-control" id="categorie" name="categorie">
						<option value="SUPPORT">Support</option>
						<option value="CORRECTION">Correction</option>
					</select>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="fichier">Fichier</label>
						<input class="form-control-file" type="file" name="fichier" id="fichier" />
						<label for="format">Format</label>
						<select class="form-control" id="format" name="format">
							<option value="AUTRE">Fichier classique</option>
							<option value="MARKDOWN">Fichier Markdown</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="lien">Lien</label>
						<input class="form-control" type="text" name="lien" id="lien" placeholder="http://..." />
					</div>
				</div>
				<p>
					<input type="hidden" name="seance" th:value="${seance.id}" />
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-plus" aria-hidden="true"></i>
						Ajouter
					</button>
				</p>
			</form>
		</div>
	</body>
</html>