<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projets rendus</title>
	<th:block th:replace="fragments/htmlheader" />
	<script th:src="@{/js/travail.js}"></script>
</head>
<body>
	<nav th:replace="fragments/menu :: admin('travailprojet')"></nav>

	<div th:replace="fragments/popup :: note"></div>

	<div class="container">
		<div th:replace="fragments/messages"></div>
		<header class="page-header">
			<h1>Projets rendus</h1>
		</header>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form class="form-inline text-center well">
					<div class="form-group">
						<label class="sr-only" for="idProjet">Sélectionner un projet :</label>
						<select class="form-control" id="idProjet" name="idProjet">
							<option th:each="projet : ${projets}" th:value="${projet.id}" th:selected="${projetSelectionne && projet.id == projetSelectionne.projet.id}">[[${projet.titre}]]</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Valider</button>
				</form>
			</div>
		</div>
		<section th:if="${projetSelectionne && #maps.size(projetSelectionne.rendus) > 0}">
			<p>Travaux rendus pour le projet « [[${projetSelectionne.projet.titre}]] » :</p>
			<table class="table table-bordered">
				<tr>
					<th>Élève</th>
					<th>Fichier ou Repository</th>
					<th>Commentaire</th>
					<th>Note</th>
					<th>Actions</th>
				</tr>
				<th:block th:each="eleveAvecRendus : ${projetSelectionne.rendus}"  class="${travail.note && travail.note != ''} ? 'success'" id="'ligneTravail'+${travail.id}"
						  th:with="eleve=${eleveAvecRendus.key},rendus=${eleveAvecRendus.value}">
					<tr th:each="rendu,iterStat : ${rendus}">
						<td th:rowspan="${#lists.size(rendus)}" th:if="${iterStat.count == 1}">
							[[${eleve.prenom}]] [[${eleve.nom}]]
						</td>
						<td>
							<p>
								<th:block th:if="${rendu.chemin}">
									<a th:href="'telechargerTravail?id='+${rendu.id}" th:text="${rendu.nomFichier}"></a>
								</th:block>
								<th:block th:if="${rendu.urlRepository}">
									[[${rendu.urlRepository}]]
								</th:block>
								<br />
								<small>Rendu à [[${#temporals.format(rendu.dateRendu, 'HH:mm')}]] le [[${#temporals.format(rendu.dateRendu, 'dd/MM/yyyy')}]]</small>
							</p>
						</td>
						<td th:text="${rendu.commentaire}"></td>
						<td th:rowspan="${#lists.size(rendus)}" th:if="${iterStat.count == 1}"><!--h4 th:id="'noteActuelle'+${travail.id}" th:text="${travail.note}"></h4--></td>
						<td th:rowspan="${#lists.size(rendus)}" th:if="${iterStat.count == 1}">
							<button th:id="'noterTravail'+${eleve.id}" type="button" class="btn btn-info btn-note" data-toggle="modal" data-target="#popupNote" th:data-travail="${eleve.id}" title="Gérer l'évaluation"><i class="fa fa-tags" aria-hidden="true"></i></button>
						</td>
					</tr>
				</th:block>
			</table>
		</section>
		<p th:if="${projetSelectionne && #maps.size(projetSelectionne.rendus) == 0}">Aucun travail n'a encore été rendu pour le projet « [[${projetSelectionne.titre}]] ».
	</div>
</body>
</html>